.logi{
    background: rgb(84, 43, 231);
    height: 743px;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
  }
  .login-form{
     background: rgba(255,255,255,0.2);
     height: 360px;
     width:400px;
     display: flex;
     flex-direction: column;
     align-items: center;
     overflow: hidden;
  }
  .login-form h3 {
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    color:#fff;
    text-shadow: 1px 1px;
    margin: 20px 0;
  }
  #components-form-demo-normal-login .login-form {
    max-width: 300px;
  }
  #components-form-demo-normal-login .login-form-forgot {
    float: right;
  }
  #components-form-demo-normal-login .login-form-button {
    width: 100%;
  }
  .login-form .reg{
    margin-left: 10px;
  }